* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

body {
  background-color: rgba(249, 247, 242, 1);
  line-height: 1.5;
  font-family: 'KievitPro-Regular', sans-serif;
}
