.message {
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
  padding: 12px;
}
.user__avatar {
  width: 44px;
  height: 44px;
}
.message__text {
  font-size: 15px;
  line-height: 1.6;
}
.message__date {
  font-size: 11px;
  color: rgba(157, 157, 157, 1);
}
